<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='settings_style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Settings - Pirate's Creek</title>
	</head>

	<body>
		<div class="title">
			<span>S</span>
			<span>E</span>
			<span>T</span>
			<span>T</span>
			<span>I</span>
			<span>N</span>
			<span>G</span>
			<span>S</span>
		</div>
		<br>

		<div align="center" style="border:3px solid green" class = "wrapper">
			<div style="color: #dccfec">
    			<h2>SITE TOGGLER</h2> 
    		</div>
    		<div style="color: #dccfec">
    			<div class="multiple_select_checkbox">
    				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1001" />crackhub</div>
    				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1002" />gload</div>
    				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1003" />gog</div>
    				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1004" />ova</div>
    				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1004" />chovka</div>
    			</div>
    		</div>
    		<button onclick="javascript:validate();">Next</button>
        </div>

		
	</head>
	<body>
	
	</body>
</html>
