<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Pirate's Creek</title>
	</head>

	<body>
		<div class="title">
			<span>P</span>
			<span>I</span>
			<span>R</span>
			<span>A</span>
			<span>T</span>
			<span>E</span>
			<span>'</span>
			<span>S</span>
			<div class="spacer"> </div>
			<span>C</span>
			<span>R</span>
			<span>E</span>
			<span>E</span>
			<span>K</span>
		</div>

		<center class="searchWrap">
			<form class="searchCover" action = "/result" method = "POST">
				<input type="text" name="search" class="searchTerm" placeholder="What are you looking for?">	
				<input type="Submit" class = "searchButton" value="">
			</form>
		</center>

		<div class="output">
			{% if result %}
				{% for name, link in result %} 
					<a href={{link}}>{{name}}</a>	
					<br>	
				{% endfor %}
			{% endif %}
		</div>






		<div class="footer">
			<span>Contact Us</span>
			<p>""discord server link here ""[Discord]</p>
			<p>u/ramjithunder24 or u/Riffle_X [Reddit DMs]</p>

		</div>

		<script src="index.js"></script>
	</body>
</html>
