<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Pirate's Creek</title>
	</head>

	<body>
		<div class="title">
			<span>P</span>
			<span>I</span>
			<span>R</span>
			<span>A</span>
			<span>T</span>
			<span>E</span>
			<span>'</span>
			<span>S</span>
			<div class="spacer"> </div>
			<span>C</span>
			<span>R</span>
			<span>E</span>
			<span>E</span>
			<span>K</span>
		</div>

		<form class="searchCover" action = "/result" method = "POST">
			<center>
			</cetner>
			<input type="text" name="search" class="search" placeholder="What are you looking for?">	
			<input type="Submit" class = "searchBarSubmit">
		</form>
		</form>

		<div class="wrap">
			<div class="search">
				<input type="text" class="searchTerm" placeholder="What are you looking for?">
				<button type="submit" class="searchButton">
					<i class="fa fa-search"></i>
				</button>i
			</div>
		</div>

		<div class="footer">
			<span>Contact Us</span>
			<p>""discord server link here ""[Discord]</p>
			<p>u/ramjithunder24 or u/Riffle_X [Reddit DMs]</p>

		</div>

		<script src="index.js"></script>
	</body>
</html>
