<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Pirate's Creek</title>
	</head>

	<body>
    <div style = " width: 1820px; height: 720px; line-height: 3em; overflow:scroll; border: thin #000 solid; padding: 5px;">
		<div class="title">
			<span>P</span>
			<span>I</span>
			<span>R</span>
			<span>A</span>
			<span>T</span>
			<span>E</span>
			<span>'</span>
			<span>S</span>
			<div class="spacer"> </div>
			<span>C</span>
			<span>R</span>
			<span>E</span>
			<span>E</span>
			<span>K</span>
		</div>

		<center class="searchWrap">
			<form class="searchCover" action = "/result" method = "POST">
				<input type="text" name="search" class="searchTerm" placeholder="What are you looking for?">	
				<input type="Submit" class = "searchButton" value="">
			</form>
		</center>

		<div class="output">
			{% if result %}

			<h1 class = "output"> Crackhub </h1>
			{% for name, link in crackhub %}	
			<a href={{link}}>{{name}}</a>
			<br>
			{% endfor %}

			<h1 class = "output"> Gload </h1>
			{% for name, link in gload %}	
			<a href={{link}}>{{name}}</a>
			<br>
			{% endfor %}
			
			<h1 class = "output"> Gog Games </h1>
			{% for name, link in gogGames %}	
			<a href={{link}}>{{name}}</a>
			<br>
			{% endfor %}
	
			<h1 class = "output"> Chovka </h1>
			{% for name, link in chovka %}	
			<a href={{link}}>{{name}}</a>
			<br>
			{% endfor %}

			{% endif %}










		</div>
		<div style="color: #dccfec">
			<h2>SITE TOGGLER</h2> 
		</div>
		<div style="color: #dccfec">
			<div class="multiple_select_checkbox">
				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1001" />crackhub</div>
				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1002" />gload</div>
				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1003" />gog</div>
				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1004" />ova</div>
				<div id="multiple_select_checkbox_choice"><input type="checkbox" name="slt_username" value="1004" />chovka</div>
			</div>
		</div>

		<button onclick="javascript:validate();">Next</button>


		<div class="footer">
			<span>Contact Us</span>
			<p>""discord server link here ""[Discord]</p>
			<p>u/ramjithunder24 or u/Riffle_X [Reddit DMs]</p>
		</div>
    
    	<script src="index.js"></script>
        </div>	
	</body>
</html>
